// Concept 1: Variables
$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;
$hover-color: pink;
// Concept 2: Maps
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
// Concept 9: Mixin for media query
$mobile: 800px;