// Concept 5: Partials and imports
@import './resets';
@import './variables';
@import './functions';
@import './mixins';

body {
  background: $primary-color;
  color: $text-color;
}

// Concept 3: Nesting and Interpolation
.main {
  @include flexCenter(row);
  width: 75%;
  margin: 0 auto;
  // Note that using & only creates a seperate block in scss
  // Use #{&} to wrap up the block under the parent's block- INTERPOLATION
  #{&}__paragraph {
    font-weight: weight(bold);

    &:hover {
      color: $hover-color;
      cursor: default;
    }
  }
}

.light {
  @include theme($light-theme:false);
}
