// Concept 5: Partials and imports
@import "./resets";
@import "./variables";
@import "./functions";
@import "./mixins";

body {
  background: $primary-color;
  color: $text-color;
}

// Concept 3: Nesting and Interpolation
.main {
  @include flexCenter(row);
  @include mobile {
    flex-direction: column;
  }
  // Concept 11: Operations
  // normal CSS
  // width: calc(100%-80%);
  // width: calc(100%-400px);
  width: 100%-25%;
  margin: 0 auto;
  // Note that using & only creates a seperate block in scss
  // Use #{&} to wrap up the block under the parent's block- INTERPOLATION
  #{&}__paragraph1 {
    font-weight: weight(bold);

    &:hover {
      color: $hover-color;
      cursor: default;
    }
  }

  #{&}__paragraph2 {
    // Concept 10: Extend scss
    @extend .main__paragraph1;

    &:hover {
      color: $accent-color;
    }
  }
}

.light {
  @include theme($light-theme: true);
}
